@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#root {
    $accent-color: #f51313;
    --accent-color-dark: color.scale($accent-color, $lightness: -30%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Arial;
}

body{
    background: #000000;
}